@charset "utf-8";

/*reset*/
body{font: normal 12px/1.5em "돋움","Dotum",sans-serif;}

/*wrap*/
#wrap{width: 960px; margin: 10px auto;}
.box{ width: 100%; overflow: hidden; margin: 10px 0;} /*float 해제, 상하 여백*/

.list1, .list2, .list3, .list4, .list5, .list6, .list7, .list8, .list9, .list10, .list11, .list12{ float: left; margin-left: 10px; margin-right: 10px;}

/*
각각 영역계산
계산 공식
전체 가터(간격) 20* 12 = 240
전체 칼럼(내용) 960 -240 =720
1개 컬럼의 너비 720 / 12 = 60

- 각각 width - (culumn 너비 * column)+ (Gutter너비 * (column-1))
*/
/*- 각각 width - (60 * column)+ (20 * (column-1))
*/

.list1{width: 60px;} /*(60 * 1)+ (20 * (1-1))*/
.list2{width: 140px;} /* (60 * 2)+ (20 * (2-1))*/
.list3{width: 220px;} /* (60 * 3)+ (20 * (3-1))*/
.list4{width: 300px;} /* (60 * 4)+ (20 * (4-1))*/
.list5{width: 380px;} /* (60 * 5)+ (20 * (5-1))*/
.list6{width: 460px;} /* (60 * 6)+ (20 * (6-1))*/
.list7{width: 540px;} /* (60 * 7)+ (20 * (7-1))*/
.list8{width: 620px;} /* (60 * 8)+ (20 * (8-1))*/
.list9{width: 700px;} /* (60 * 9)+ (20 * (9-1))*/
.list10{width: 780px;} /* (60 * 10)+ (20 * (10-1))*/
.list11{width: 860px;} /* (60* 11)+ (20 * (11-1))*/
.list12{width: 940px;} /* (60 *12)+ (20 * (12-1))*/


