@charset "utf-8";

/*공통*/
h1{font: bold 2em "돋움","Dotum", sans-serif; text-align: center; margin: 30px auto; width: 150px;}

/*1024 이상*/
@media all and (min-width:1024px){
    h1{background:url("../images/icn_contact.jpg") no-repeat left center; color: #c03;}
    
}

/*761~ 1023*/
@media all and (min-width:761px) and (max-width:1023px){
    h1{background:url("../images/icn_news.jpg") no-repeat left center; color: #09c;}
}

/*760이하*/
@media all and (max-width:760px){
     h1{background:url("../images/icn_sitemap.jpg") no-repeat left center; color: #0f0;}
}