@charset "utf-8";

/*common*/
.clearfix::after , .clearfix::before {content: ""; display: block; clear: both}
a {width: 100%; display: block}
* {box-sizing: border-box}

/*main*/

/*gnb-effect*/
.header-wrap {position: relative}
.header-wrap .gnb-bar{width: 1282px;position: absolute; left: 50%; top: 100px; transform: translate(-50%); z-index: 9999; cursor: pointer}
.ham {position: absolute; left: 316px; top: 0; z-index: 9999}
.logo {position: absolute; left: 420px; top: 0; z-index: 9999}
.search {position: absolute; left: 610px; top: 0; z-index: 9999}