@charset "utf-8";
/*reset*/
a{text-decoration:none; color:#333;font-weight: bold; font-size: 14px; color: #333; cursor: pointer;}
body{font:normal 12px/1.5em "nanum",sans-serif; text-decoration:none; width: 1902px; height: 3152px;}

/*font*/
@font-face{
	font-family:nanum;
	src: local('nanum'),
		url('../font/malgun.eot'), 
		url('../font/malgun.woff') format('woff'),
		url('../font/malgun.ttf') format('truetype');
		}


#top{ width:100%; height:150px; position:relative;}
#top img{width:150px; height:150px; float:left;}

#top_menu_l{width:; height:100px; float:left; 
position:absolute; left:200px; top:50px; }
#top_menu_l li{width:210px; height:82px; text-align:center; line-height:82px;   
 float:left;  display:block; margin-left:20px;}
#top_menu_l li a{width:100%; font-size: 19px;}

#top_menu_r {width:280px; height:110px; margin-top:25px; float:right;}
#top_menu_r a{}
.line1, .line1_1, .line2, .line2_1, .line3{margin-bottom:17px; }

#box { height:300px; display: block; background-color: #ff0; clear: both; z-index:100; }

.line1{float:left; margin-right:30px; line-height:30px;}
#top_menu_r .line1_1 img{width:50px; height:30px; }
#top_menu_r .line2 img{width:30px; height:30px; clear:both;  }
#top_menu_r input{border:1px solid #ccc; width:170px; height:30px; margin-left: 35px}
.line2_1{ float:left; line-height:35px; margin-left:5px; }
.line3{float:left; line-height:25px; margin-left:15px;}

#content p img{vertical-align:top;}
#content {}
.defalt1 img {width:100%; height:100%; position:relative; z-index: 1;}
.defalt2 img {width:100%; height:100%; position:relative;}
.prev, .next{position:absolute; top:1110px; z-index:2; cursor:pointer;}
.prev{width: 477px; height: 393px; left:-0x;}
.next{width: 477px; height: 393px; right:-0px;}

#insta{width:1902px;  position: relative; }
#insta p{width:300px; height:200px; margin-left:801px;}
#insta p img{width:200px; height:50px; margin-top:75px; margin-bottom:75px; margin-left: 50px; }
#insta_img{}
#insta_img li{width: 1600px; height:343px; margin-left: 170px;}
#insta_img li img{width:250px; height:313px; vertical-align:top;margin-top: 10px;}
#insta_img li a{width: 250px; height: 313px;}
#insta_img li a:nth-child(even){margin-right:20px; margin-left: 20px;}
#insta_img li a:last-child{margin-right: 0px;}

#foot{width: 100%; margin-top: 50px;}
#bottom{ width: 1460px; height:250px; margin: 0 auto; }
#bottom ul{width: 380px; }
#bottom ul:nth-child(2){width: 300px; margin-left: 200px; margin-right: 200px;}
#bottom ul li{text-align: center;  font-size: 13px;  line-height: 20px;}
#bottom ul li span{font-weight: bold; line-height: 30px; font-size: 16px;}

#foot_left{float: left;   }
.box_e6{width: 220px; height: 35px; margin-top: 30px; margin-bottom: 10px;}
.box_f00{width: 224px; height: 35px; background-color: #f00; color: #fff;}

#foot_middle{float: left;  }
#foot_middle span{}
#foot_middle li img{width: 30px; height: 30px; float: left; padding: 10px; display: inline; }
.img1{width:300px;}
#foot_right{float: left; height: 180px;}
#foot_right li{margin-bottom: 10px; height: 30px; letter-spacing: 2px;}