@charset "utf-8";

/*top_wrap*/
#top_wrap{width:100% height:112px; border-bottom:1px solid #e0233b;}
#top {width:1024px; height:112px; margin:20px auto;}
#top h1{width:223px; height:25px; float:left;}
.quick{text-align:right;}
.quick li{display:inline; margin-left:5px;}
.quick li a:hover{text-decoration:underline;}

#gnb{clear:both; width:1024px; margin-top:50px;}
#gnb ul{text-align:center;}
#gnb ul li{display:inline; margin:0 10px; background:url("../images/bar.jpg") no-repeat left center; padding-left:20px;}
#gnb ul li:first-child{background:none; margin:0; padding-left:0;}
#gnb ul li a{font-weight:bold; font-size:18px;}
#gnb ul li a:hover{color:#e02333b;}